* {
  margin: 0;
  padding: 0;
  border: 0;
}

body,
html {
  background-color: rgb(0, 0, 0);
  position: relative;
}

#glCanvas {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

#topnav {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100vw;
}

#topnav > ul {
  background: linear-gradient(
    90deg,
    rgba(50, 70, 255, 1),
    rgba(255, 68, 43, 1),
    rgba(50, 70, 255, 1),
    rgba(255, 68, 43, 1)
  );
  background-size: 300% 300%;
  animation: backgroundFlow 6s linear infinite forwards;
  border-radius: 1rem 1rem;
  box-shadow: 0 0 1rem rgb(168, 168, 166), 0 0 2rem rgba(136, 175, 136, 0.8),
    0 0 3rem rgba(211, 153, 149, 0.8);
}

#topnav > ul > li a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: rgb(245, 245, 245);
}

#topnav > ul > li {
  position: relative;
  width: 20rem;
  display: inline-block;
  margin: 1rem 2rem;
  padding: 1rem 0;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  transition: transform 1s ease-out;
  overflow: hidden;
}

#topnav > ul > li:hover {
  border-radius: 5rem;
  box-shadow: 0 0 10px rgb(255, 215, 39), 0 0 20px rgba(30, 167, 30, 0.8),
    0 0 30px rgba(231, 53, 40, 0.8);
  background: linear-gradient(
    90deg,
    rgba(255, 50, 169, 0.8),
    rgba(255, 198, 43, 0.9),
    rgba(255, 50, 169, 0.8),
    rgba(255, 198, 43, 0.9)
  );
  background-size: 300% 300%;
  transform: scale(1.1) skew(-20deg) translate3d(0rem, 1.5rem, 10rem);
  transition: transform 1s ease, background-color 1s ease;
  animation: backgroundFlow 5s linear infinite forwards;
}

#topnav > ul > li:not(:hover) {
  transition: all 1s ease;
}

@keyframes backgroundFlow {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Main Layout */
.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30vh;
  overflow: hidden;
  top: 3rem;
  width: 100%;
  z-index: 2;
  color: #fff;
}

.progress {
  margin: 0 auto;
}

.animated-image {
  opacity: 0;
  transform: scale(0.8);
  animation: fadeInScale 1s ease forwards;
}

@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

#toggle-sidebar-btn {
  position: fixed;
  top: 20vh;
  left: 5vw;
  z-index: 11;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #111111;
  background-color: #8f40e9;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

#sidebar {
  position: fixed;
  top: 20vh;
  left: 1vw;
  width: 20rem;
  height: 100vh;
  background-color: #74616100;
  color: #fff;
  padding: 2rem;
  z-index: 1.6;
  transition: transform 0.3s ease-in-out;
}

#sidelist > ul > li {
  margin: 2rem;
  padding: 1rem;
}

#sidelist > ul > li:hover {
  background-color: #03294e;
}
