* {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: scroll;
  scrollbar-width: none;
  scroll-behavior: smooth;
  font-family: italic;
  color: white;
}

main {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

hr {
  width: 100%;
  background: linear-gradient(
    90deg,
    rgba(13, 8, 96, 1) 0%,
    rgba(9, 9, 121, 1) 21%,
    rgba(6, 84, 170, 1) 51%,
    rgba(0, 255, 113, 1) 100%
  );
  transform: scaleY(5);
}



main > div {
  position: relative;
  margin: 1rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items:
   center;
  justify-content: center;
  /* overflow: hidden; */
  backdrop-filter: blur(1px);
  border: 2px solid red;
  background-color: rgba(93, 87, 87, 0.719);
  /* border-radius: 3rem; */
  /* overflow: scroll; */
}

#glCanvas {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -5;
}

h2 {
  font-family: italic;
  position: relative;
  left: 0;
  margin-left: 1%;
  text-align: left;
  background-color: tomato;
}