* {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: scroll;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

main {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main > div {
  position: relative;
  margin: 1rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items:
   center;
  justify-content: center;
  /* overflow: hidden; */
  backdrop-filter: blur(1px);
  border: 2px solid red;
  background-color: rgba(93, 87, 87, 0.719);
  color: white;
  /* border-radius: 3rem; */
  /* overflow: scroll; */
}

#glCanvas {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -5;
}